/* TABLE OF CONTENTS

1. NAVIGATION BAR
2. FOOTER

*/

/* NAVIGATION BAR */
/* Larger than tablet */
@media (min-width: 750px) {

    /* Navbar */
    .navbar + .docs-section {
        border-top-width: 0;
    }

    .navbar,
    .navbar-spacer {
        display: block;
        width: 100%;
        height: 6.5rem;
        background: #FFAFF2;
        z-index: 99;
        position: fixed;
    }

    /* lines for the navbar
        border-top: 1px solid #005694;
        border-bottom: 1px solid #005694;
    */

    .navbar-spacer {
        display: none;
    }

    .navbar > .container {
        width: 100%;
    }

    .navbar-list {
        list-style: none;
        margin-bottom: 0;
    }

    .navbar-item {
        position: relative;
        float: right;
        margin-bottom: 0;
    }

    .navbar-link {
        text-transform: uppercase;
        font-family: 'Azeret Mono', monospace;
        font-size: 11px;
        font-weight: 300;
        letter-spacing: .2rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #005694;
    }

    .navbar-link.active {
        color: #F26457;
    }

    .has-docked-nav .navbar {
        position: fixed;
        top: 0;
        left: 0;
    }

    .has-docked-nav .navbar-spacer {
        display: block;
    }

    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 60px;
    }

    /* Re-overiding the width 100% declaration to match size of % based container */
    .has-docked-nav .navbar > .container {
        width: 80%;
    }

    /* portfolio */
    #soft {
        border-radius: 10px;
    }

    /* FOOTER DEELIOOS*/

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: left;
    }
